.page {
	min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
	border: 1px solid red;
}

/*Стили HEADER*/
.header {
	height: 720px;
	display: flex;
	flex-direction: column;
	padding: 20px 45px;
	background-image: url(../images/image/mountain-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header__content {
	padding: 100px 0;
}

.header__elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.base-button {
	font-family: "Glyphicons";
	font-weight: 500;
	color: white;
	font-size: 16px;
	padding: 10px 25px;
	border-radius: 3px;
	border: none;
}

.header__first_button {
	background-color: #40E6F0;
}

.header__accent_button {
	background-color: #F04075;
}

.logo_place_header {
	background-image: url(../images/your_logo.png);
	width: 228px;
    height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
}

.header__title {
	text-align: center;
}

.header__title_top {
	font-size: 36px;
	margin: 0;
	color: white;
}

.header__title_bottom {
	font-size: 58px;
	margin: 0;
	color: white;
}

.header__subtitle {
	text-align: center;
	margin: 50px 0 30px 0;
	line-height: 1.6;
	color: white;
	font-size: 18px;
}

.header__burger-button {
	width: 38px;
	height: 38px;
	background: transparent;
	border: none;
}

.header__burger-icon path {
	width: 24px;
	height: 24px;
	fill: black;

}

.header__all_buttons {
	
}

/*2 блок BENEFITS*/
.benefits {
	/*display: flex;
	justify-content: center;
	flex-direction: column;*/
	margin-top: 100px;
	margin-bottom: 100px;
}
.benefits__tile {
	display: flex;
	flex-direction: row;
	padding: 0 45px 0 45px;
	gap: 30px;
	/*justify-content: center;*/
}

.benefits__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*width: 590px;*/
}

.benefuts__card-one {
	background-image: url(../images/briefcase.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefuts__card-two {
	background-image: url(../images/camera.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefuts__card-tree {
	background-image: url(../images/music.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefits__card-text {
	text-align: center;
	margin: 0;
}

/*.benefits__card-image {
	width: 50px;
	height: 50px;
	/*background-image: url(../images/mountain-header.jpg);
	/*text-align: center;
}*/

/*3 блок NUMBERS*/
.numbers {
	background-image: url(../images/image/3\ block.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row-reverse;
}

.numbers__title {
	color: white;
}

.numbers__subtitle {
	color: white;
}

.numbers__square-title {
	color: white;
}

.numbers__square-num {
	color: white;
}

.numbers__info {
	background-color: rgba(23, 144, 255, 0.35);
	display: flex;
	flex-direction: column;
	padding: 20px 30px 20px 30px;
	width: 300px;
	margin-right: 45px;
}

.numbers__square {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}
.numbers__square-stroke {
	border: 1px solid white;
	width: 400px;
	text-align: center;
}

/*4 блок BLOG*/
.blog {
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding: 45px;
	justify-content: center;
}

.blog__left-side{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
}

.blog__image {
	background-image: url(../images/image/4\ block.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 350px;
	height: 350px;
}

/*5 блок CAMERA*/
.camera {
	background-color: #f8c9d7;
	display: flex;
}

.camera__info {
	background-color: rgba(23, 144, 255, 0.35);
	display: flex;
	flex-direction: column;
	padding: 20px 30px 20px 30px;
	width: 300px;
	margin-left: 45px;
}
/*6 блок MOSAIC*/
/*.mosaic {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
	margin: 45px 0 0 0;
}
.mosaic__all-photos {
	background-color: #f8c9d7;
	border: 1px solid red;
}

.mosaic__left-column {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.mosaic__coffee {
	width: 788px;
	height: 386px;
}

.mosaic__three-photos {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.mosaic__bridge {
	width: 387px;
	height: 594px;
}

.mosaic__two-photos {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.mosaic__sunset {
	width: 386px;
	height: 386px;
}

.mosaic__photographer {
	width: 386px;
	height: 193px;
}

.mosaic__motel {
	width: 788px;
	height: 154px;
}

.mosaic__right-column {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.mosaic__volcano {
	width: 387px;
	height: 849px;
}

.mosaic__plane {
	width: 386px;
	height: 300px;
}
*/
/*6 блок MOSAIC*/

.mosaic {
    display: grid;
    grid-gap: 15px;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
	margin: 45px;
    /*justify-items: end;*/
  }

[class^="mosaic__"] {
    background-color: skyblue;
    /* Размещаем контейнеры по центру */
    display: grid;
    /*object-fit: cover;*/
    /*place-items: center;*/
  }
  .mosaic__coffee {
    grid-column-start: 1;
    grid-column-end: 9;
    /*grid-column: 1 / span 8;*/
    grid-row-start: 1;
    grid-row-end: 4;
    /*grid-row: 1 / span 3;*/
	background-image: url(../images/mountain-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  }
  .mosaic__bridge {
    grid-column-start: 1;
    grid-column-end: 5;
    /*grid-column: 1 / span 4;*/
    grid-row-start: 4;
    grid-row-end: 9;
    /*grid-row: 4 / span 5;*/
  }
  .mosaic__sunset {
    grid-column-start: 5;
    grid-column-end: 9;
    /*grid-column: 5 / span 4;*/
    grid-row-start: 4;
    grid-row-end: 7;
    /*grid-row: 4 / span 3;*/
  }
  .mosaic__photographer {
    grid-column-start: 5;
    grid-column-end: 9;
    /*grid-column: 5 / span 4;*/
    grid-row-start: 7;
    grid-row-end: 9;
    /*grid-row: 7 / span 2;*/
  }
  .mosaic__motel {
    grid-column-start: 1;
    grid-column-end: 9;
    /*grid-column: 1 / span 8;*/
    grid-row-start: 9;
    grid-row-end: 11;
    /*grid-row: 9 / span 2;*/
  }
  .mosaic__volcano {
    grid-column-start: 9;
    grid-column-end: 13;
    /*grid-column: 9 / span 4;*/
    grid-row-start: 1;
    grid-row-end: 8;
    /*grid-row: 1 / span 7;*/
  }
  .mosaic__plane {
    grid-column-start: 9;
    grid-column-end: 13;
    /*grid-column: 9 / span 4;*/
    grid-row-start: 8;
    grid-row-end: 11;
    /*grid-row: 8 / span 3;*/
  }

  /*7 блок LOGOS*/
  /*.logos {
	display: flex;
	background-color: #f8c9d7;
	padding: 45px;
	gap: 15px;
  }

  .logos__logo1 {
	background-image: url(../images/logo-sample-01.jpg);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .logos__logo2 {
	background-image: url(../images/logo-sample-02.jpg);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .logos__logo3 {
	background-image: url(../images/logo-sample-03.png);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .logos__logo4 {
	background-image: url(../images/logo-sample-04.jpg);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .logos__logo5 {
	background-image: url(../images/logo-sample-05.jpg);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }

  .logos__logo6 {
	background-image: url(../images/logo-sample-06.png);
	width: 250px;
	height: 160px;
	background-size: cover;
	background-repeat: no-repeat;
  }*/

  /*7 блок LOGOS*/
  .logos {
	display: flex;
	flex-direction: row;
    gap: 15px;
	margin: 45px;
	justify-content: space-between;
  }

  .logos__logo1 {
	background-image: url(../images/logo-sample-01.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  .logos__logo2 {
	background-image: url(../images/logo-sample-02.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  .logos__logo3 {
	background-image: url(../images/logo-sample-03.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  .logos__logo4 {
	background-image: url(../images/logo-sample-04.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  .logos__logo5 {
	background-image: url(../images/logo-sample-05.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  .logos__logo6 {
	background-image: url(../images/logo-sample-06.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 220px;
	height: 150px;
  }

  /*8 блок CONTACT*/
  .contact {
	display: flex;
	background-color: antiquewhite;
  }

  .contact__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	width: 60%;
	margin: 45px;
	border: 1px solid red;
  }
