@font-face {
	font-family: "Glyphicons";
	src: url(../fonts/glyphicons-halflings-regular.woff)format(woff);
	font-style: normal;
}

.page {
    height: 920px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
	border: 1px solid red;
}

/*Стили HEADER*/
.header {
	height: 720px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	padding: 20px 45px;
	background-image: url(../images/mountain-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.header__content {
	padding: 100px 0;
}

.header__elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.base-button {
	font-family: "Glyphicons";
	font-weight: 500;
	color: white;
	font-size: 16px;
	padding: 10px 25px;
	border-radius: 3px;
	border: none;
}

.header__first_button {
	background-color: #40E6F0;
}

.header__accent_button {
	background-color: #F04075;
}

.logo_place_header {
	background-image: url(../images/your_logo.png);
	width: 228px;
    height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
}

.header__title {
	text-align: center;
}

.header__title_top {
	font-family: "Glyphicons";
	font-size: 36px;
	margin: 0;
	color: white;
}

.header__title_bottom {
	font-family: "Glyphicons";
	font-size: 58px;
	margin: 0;
	color: white;
}

.header__subtitle {
	text-align: center;
	margin: 50px 0 30px 0;
	line-height: 1.6;
	color: white;
	font-size: 18px;
}

.header__burger-button {
	width: 38px;
	height: 38px;
	background: transparent;
	border: none;
}

.header__burger-icon path {
	width: 24px;
	height: 24px;
	fill: black;

}

.header__all_buttons {
	
}

/*2 блок BENEFITS*/
.benefits {
	/*display: flex;
	justify-content: center;
	flex-direction: column;*/
	margin-top: 100px;
	margin-bottom: 100px;
}
.benefits__tile {
	display: flex;
	flex-direction: row;
	padding: 0 45px 0 45px;
	gap: 30px;
	/*justify-content: center;*/
}

.benefits__card {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*width: 590px;*/
}

.benefuts__card-one {
	background-image: url(../images/briefcase.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefuts__card-two {
	background-image: url(../images/camera.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefuts__card-tree {
	background-image: url(../images/music.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
}

.benefits__card-text {
	text-align: center;
	margin: 0;
}

/*.benefits__card-image {
	width: 50px;
	height: 50px;
	/*background-image: url(../images/mountain-header.jpg);
	/*text-align: center;
}*/

/*3 блок NUMBERS*/
.numbers {
	background-image: url(../images/mountain-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row-reverse;
}

.numbers__title {
	color: white;
}

.numbers__subtitle {
	color: white;
}

.numbers__square-title {
	color: white;
}

.numbers__square-num {
	color: white;
}

.numbers__info {
	background-color: rgba(23, 144, 255, 0.35);
	display: flex;
	flex-direction: column;
	padding: 20px 30px 20px 30px;
	width: 300px;
	margin-right: 45px;
}

.numbers__square {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 20px;
}
.numbers__square-stroke {
	border: 1px solid white;
	width: 400px;
	text-align: center;
}

/*4 блок BLOG*/
.blog {
	display: flex;
	flex-direction: row;
	gap: 40px;
	padding: 45px;
	justify-content: center;
}

.blog__left-side{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 600px;
}

.blog__image {
	background-image: url(../images/mountain-header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 350px;
	height: 350px;
}

/*5 блок CAMERA*/
.camera {
	background-color: #f8c9d7;
	display: flex;
}

.camera__info {
	background-color: rgba(23, 144, 255, 0.35);
	display: flex;
	flex-direction: column;
	padding: 20px 30px 20px 30px;
	width: 300px;
	margin-left: 45px;
}
/*6 блок MOSAIC*/
.mosaic {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
	margin: 45px 0 0 0;
}
.mosaic__all-photos {
	background-color: #f8c9d7;
	border: 1px solid red;
}

.mosaic__left-column {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.mosaic__coffee {
	width: 788px;
	height: 386px;
}

.mosaic__three-photos {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.mosaic__bridge {
	width: 387px;
	height: 594px;
}

.mosaic__two-photos {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.mosaic__sunset {
	width: 386px;
	height: 386px;
}

.mosaic__photographer {
	width: 386px;
	height: 193px;
}

.mosaic__motel {
	width: 788px;
	height: 154px;
}

.mosaic__right-column {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.mosaic__volcano {
	width: 387px;
	height: 849px;
}

.mosaic__plane {
	width: 386px;
	height: 300px;
}
